#all_histograms {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 20px;
}

#all_material {
    max-width: 650px;
    margin: 10px auto;
}

#control_box {
    background: #333;
    color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
}

.company_histogram {
    margin: 10px;
}

.tooltip {
    right: 100px;  
    position: absolute;
    text-align: center;
    width: 300px;
    padding: 10px;
    font: 12px sans-serif;
    background: black; 
    border: 0px;
    opacity: .8;
    color: white;
    border-radius: 8px;
    pointer-events: none;
}

#histogram-explainer {}


.corp_section {
    max-width: 650px;
}

.corp_header {}

.corp_title {
    font-size: 20px;
    font-weight: bold;
}

.corp_sector {
    font-size: 16px;
    color: grey;
}

.corp_context {}