#all_histograms {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 20px;
}

html {
    background: black;
}

#control_box {
    background: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    box-shadow: 3px 3px 3px black;
    max-width: 600px;
}

#jump_to {
    margin: 10px;
}

#jump_to_items {
    padding: 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}
.jump_to_item {
    display: inline-block;
}

.company_histogram {
    margin: 10px;
}

.tooltip {
    right: 100px;  
    position: absolute;
    text-align: center;
    width: 300px;
    padding: 10px;
    font: 16px sans-serif;
    background: black; 
    border: 0px;
    opacity: .8;
    color: white;
    border-radius: 8px;
    pointer-events: none;
}

#histogram-explainer {}


.corp_section {
    max-width: 600px;
}

.corp_header {}

.corp_title {
    font-size: 20px;
    font-weight: bold;
}

.corp_sector {
    font-size: 16px;
    color: grey;
}

.corp_context {}

.tag-tooltip-container {
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
}
.badge {
    margin: 5px;
}