footer {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /*width: 100%;*/
}
footer img {
    width: 25px;
}
footer div {
    width: auto;
    text-align: center;
}

.header {
    width: 100%;
    background-image: url('../img/title-header.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%, auto;
    min-height: 350px;
    display: flex;
    align-items: center;
    /*flex-direction: column;*/
    justify-content: center;
    background-color: black;
}

#title_container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 700px;
    justify-content: flex-end;
    text-align: right;
}

#title_text {
    font-family: 'Arial Black', serif;
    color: white;
    font-size: 25pt;
    margin-bottom: 10px;
}

#subtitle_text {
    font-family: acumin-pro, sans-serif;
    
    font-weight: 400;
    font-style: normal;
    color: lightgrey;
    font-size: 15pt;
}

#by {
    font-family: acumin-pro, sans-serif;
    color: white;
    font-style: italic;
    padding: 10px;
    width: 100%;
}