footer {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
footer img {
    width: 25px;
}
footer div {
    width: auto;
    text-align: center;
}

.header {
    width: 100%;
    background-image: url('../img/title-header.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%, auto;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#title_container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

#title_text {
    font-family: 'Arial Black', serif;
    color: white;
    font-size: 25pt;
    margin-bottom: 10px;
}

#subtitle_text {
    font-family: acumin-pro, sans-serif;
    
    font-weight: 400;
    font-style: normal;
    color: lightgrey;
    font-size: 15pt;
}

nav {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: black;
    font: white;
    display: flex;
    justify-content: space-between;
}

nav div {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: white;
}